# MongoDB
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/caixabank_cards
MONGO_DB_NAME=caixabank_cards

# JWT
JWT_SECRET_KEY=tu_clave_secreta_aqui
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60

# Google
GOOGLE_API_KEY=tu_api_key_aqui

# CORS
CORS_ORIGINS=["http://localhost:3000"]
