# MongoDB
MONGO_URI=mongodb+srv://David:
MONGO_DB_NAME=caixabank_cards
# JWT
JWT_SECRET_KEY=my_super_secret_key_for_jwt_token_generation
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60
# Google API Key
GOOGLE_API_KEY=your_google_api_key_here