# Api
fastapi[standard]
# Base de datos
motor
# Autenticación
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
pydantic-settings
# Testing
httpx
# Linting and formatting
ruff
pre-commit
gower-exp